*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    /* overflow: hidden; */
}
html,body{
    height: 100%;
    width: 100%;
}
.wrapper{
    height: 100%;
    width: 100%;
    background-image: url(images/1.jpeg);
    background-size: cover;
    background-position-y: -17vw;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rules{
    height: 100%;
    width: 68%;
    /* border: 2px solid red;  */
}
.rules li{
    font-size: 1.5vw;
    line-height: 2vw;
}
.rules h2{
    text-align: center;
    font-size: 2.5vw;
    color: #305a7d;
    text-decoration: underline;
    margin-top: 2vw;
    margin-bottom: 3vw;
}
.list2 li{
    margin-left: 3vw;
}
.list1 li{
    margin-left: 3vw;
}
.list1{
    margin-bottom: 2vw;
}
ul{
    margin-left: 3vw;
}
@media(max-width:600px){
    .wrapper{
        background-position-x: center;
        background-position-y: center;
    }
    .rules{
        height: 80%;
        width: 90%;
        margin-top: -10vw;
    }
    .rules h2{
        font-size: 6vw;
        margin-bottom: 7vw;
    }
    .rules li{
        font-size: 3vw;
        line-height: 5vw;
    }
    .list2 li{
        margin-left: 5vw;
    }
}